


/*########################### TESTIMONIALS ###########################*/
#testimonials {
	height: 780px;
	background-color: #fffbf8;
}
#testimonials-title {
	width: inherit;
	text-align: center;
	letter-spacing: 5px;
	font: 900 20px 'Fraunces';
	color: hsl(210, 4%, 67%);
	margin-top: 160px;
}
#testimonials-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 160px;
}
#testimonials-content div {
	text-align: center;
}
#Emily-pic {
	background-image: url("../images/image-emily.jpg")
}
#Thomas-pic {
	background-image: url("../images/image-thomas.jpg")
}
#Jennie-pic {
	background-image: url("../images/image-jennie.jpg")
}

.client {
	width: 370px;
	height: 400px;
	display: flex;
	flex-direction: column;
	margin: 0px 20px;
	align-items: center;
}
.client-pic {
	width: 70px;
	height: 70px;
	border-radius: 35px;
	margin-top: 18px;
	background-size: contain;
}
.client-review {
	font: 600 19px 'Barlow';
	color: hsl(213, 9%, 39%);
	line-height: 30px;
	margin-top: 70px;
}
.client-name {
	font: 700 18px 'Fraunces';
	color: hsl(212, 27%, 19%);
	margin-top: 70px;
}
.client-position {
	font: 600 14px 'Barlow';
	color: hsl(210, 4%, 67%);
	margin-top: 15px;
}
/*########################### COLLAGE ###########################*/
#collage {
	display: grid;
	grid-template-columns: 360px 360px 360px 360px;
	grid-template-rows: 450px;
	grid-template-areas: "c-milk c-orange c-cone c-sugar";
}
#coll-milk {
	grid-area: c-milk;
	background-image: url("../images/desktop/image-gallery-milkbottles.jpg");
}
#coll-orange {
	grid-area: c-orange;
	background-image: url("../images/desktop/image-gallery-orange.jpg");
}
#coll-cone {
	grid-area: c-cone;
	background-image: url("../images/desktop/image-gallery-cone.jpg");
}
#coll-sugar {
	grid-area: c-sugar;
	background-image: url("../images/desktop/image-gallery-sugarcubes.jpg");
}
.collage-pic {
	background-repeat: no-repeat;
	background-size: cover;
}
