
/*########################### COLLAGE ###########################*/
#collage {
	display: grid;
	grid-template-columns: 360px 360px 360px 360px;
	grid-template-rows: 450px;
	grid-template-areas: "c-milk c-orange c-cone c-sugar";
}
#coll-milk {
	grid-area: c-milk;
	background-image: url("../images/desktop/image-gallery-milkbottles.jpg");
}
#coll-orange {
	grid-area: c-orange;
	background-image: url("../images/desktop/image-gallery-orange.jpg");
}
#coll-cone {
	grid-area: c-cone;
	background-image: url("../images/desktop/image-gallery-cone.jpg");
}
#coll-sugar {
	grid-area: c-sugar;
	background-image: url("../images/desktop/image-gallery-sugarcubes.jpg");
}
.collage-pic {
	background-repeat: no-repeat;
	background-size: cover;
}
