@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
body {
  width: 100vw;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
}
body > div {
  width: 1440px;
}
#header {
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../images/desktop/image-header.jpg") no-repeat;
  background-size: contain;
}
#menu-bar {
  height: 120px;
  width: inherit;
  display: flex;
  flex-direction: row;
}
#menu-bar > div {
  width: 50%;
  display: flex;
  align-items: center;
}
#menu-logo {
  width: 50%;
  justify-content: flex-start;
  margin-left: 50px;
}
#menu-logo img {
  width: 170px;
}
#menu-links {
  width: 50%;
  justify-content: flex-end;
  column-gap: 60px;
  margin-right: 50px;
}
#bt-contact {
  width: 140px;
  height: 56px;
  background-color: white;
  border-radius: 28px;
  border: none;
  font: 700 16px 'Fraunces';
  color: black;
}
#creatives {
  font: 900 40px 'Fraunces';
  color: white;
  letter-spacing: 10px;
  margin: 90px auto;
}
#main-content {
  width: 1440px;
  display: grid;
  grid-template-columns: 720px 720px;
  grid-template-rows: 600px 600px 600px;
  grid-template-areas: "trans egg""cup stand""gdesign photography";
}
#content-transform {
  grid-area: trans;
  background: #fffbf8;
}
#content-transform > div {
  margin-left: 160px;
}
#content-transform div[class="learnMore"] {
  background-color: hsla(51, 100%, 49%);
}
#content-transform div[class="learnMore"]:hover {
  cursor: pointer;
  background-color: hsla(51, 100%, 49%, 0.5);
}
#content-egg {
  grid-area: egg;
  background: url("../images/desktop/image-transform.jpg") no-repeat;
  background-size: contain;
}
#content-cup {
  grid-area: cup;
  background: url("../images/desktop/image-stand-out.jpg") no-repeat;
  background-size: contain;
}
#content-stand {
  grid-area: stand;
  background: #fffbf8;
}
#content-stand > div {
  margin-left: 110px;
}
#content-stand div[class="learnMore"] {
  background-color: hsl(7, 99%, 70%);
}
#content-stand div[class="learnMore"]:hover {
  cursor: pointer;
  background-color: hsla(7, 99%, 70%, 0.5);
}
#content-gdesign {
  grid-area: gdesign;
  background: url("../images/desktop/image-graphic-design.jpg") no-repeat;
  background-size: contain;
}

#content-gdesign > div{
	color: hsl(167, 40%, 24%);
}
#content-photography {
  grid-area: photography;
  background: url("../images/desktop/image-photography.jpg") no-repeat;
  background-size: contain;
}

#content-photography{
  color: hsl(198, 62%, 26%);
}

#testimonials{
	height: 780px;
	background-color: #fffbf8;
}

#testimonials-title{
	width: inherit;
	text-align: center;
	letter-spacing: 5px;
	font: 900 20px 'Fraunces';
	color: hsl(210, 4%, 67%);
	margin-top: 160px;
}
#testimonials-content{
	display:flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 160px;
}

#testimonials-content div{
	text-align: center;
}

#Emily-pic{background-image:url("../images/image-emily.jpg")}
#Thomas-pic{background-image: url("../images/image-thomas.jpg")}
#Jennie-pic{background-image: url("../images/image-jennie.jpg")}

#collage{
	display: grid;
	grid-template-columns: 360px 360px 360px 360px;
	grid-template-rows: 450px;
	grid-template-areas: "c-milk c-orange c-cone c-sugar";
}

#coll-milk{
	grid-area: c-milk;
	background-image: url("../images/desktop/image-gallery-milkbottles.jpg");
}
#coll-orange{
	grid-area: c-orange;
	background-image: url("../images/desktop/image-gallery-orange.jpg");
}
#coll-cone{
	grid-area: c-cone;
	background-image: url("../images/desktop/image-gallery-cone.jpg");
}
#coll-sugar{
	grid-area: c-sugar;
	background-image: url("../images/desktop/image-gallery-sugarcubes.jpg");
}

#footer{
	height: 350px;
	background-color: hsl(168, 34%, 41%);
}
.link {
  font: 18px 'Barlow';
  color: white;
}
.content-large {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 280px;
  margin-top: 170px;
}
.content-lg-title {
  width: inherit;
  height: 135px;
  font: 900 40px 'Fraunces';
}
.content-lg-paragraph {
  width: inherit;
  height: 130px;
  font: 18px 'Barlow';
  line-height: 160%;
  color: hsl(210, 4%, 67%);
}
.content-medium {
  display: flex;
  flex-direction: column;
	align-items: center;
}
.content-med-title {
  width: 340px;
  height: 60px;
  font: 900 27px 'Fraunces';
  margin-top: 380px;
  text-align: center;
}
.content-med-paragraph {
  width: 340px;
  font: 16px 'Barlow';
  text-align: center;
  line-height: 160%;
}
.learnMore {
  width: 120px;
  height: 8px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font: 700 15px 'Fraunces';
  border-radius: 4px;
}

.client{
	width: 370px;
	height: 400px;
	display: flex;
	flex-direction: column;
	margin: 0px 20px;
	align-items: center;
}

.client-pic{
	width: 70px;
	height: 70px;
	border-radius: 35px;
	margin-top: 18px;
	background-size: contain;
}

.client-review{
	font: 600 19px 'Barlow';
	color:hsl(213, 9%, 39%);
	line-height: 30px;
	margin-top: 70px;
}

.client-name{
	font: 700 18px 'Fraunces';
	color: hsl(212, 27%, 19%);
	margin-top: 70px;
}

.client-position{
	font: 600 14px 'Barlow';
	color: hsl(210, 4%, 67%);
	margin-top: 15px;
}
.collage-pic{
	background-repeat: no-repeat;
	background-size:cover;
}