#collage{
    width: inherit;
    height: 447px;
    background:
    url('../img/collage/milkbottles-desktop.jpg') left/360px no-repeat,
    url('../img/collage/orange-desktop.jpg') 360px 50%/360px no-repeat,
    url('../img/collage/cone-desktop.jpg') 720px 50%/360px no-repeat,
    url('../img/collage/sugar-desktop.jpg') right/360px no-repeat;
}

/*##################################### MOBILE VERSION #####################################*/

@media screen and (max-width: 768px) {
    #collage{
        width: 100vw;
        height: 100vw;
        background:
        url('../img/collage/milkbottles-mobile.jpg') 0% 0%/calc(100vw/2) no-repeat,
        url('../img/collage/orange-mobile.jpg') 100% 0%/calc(100vw/2) no-repeat,
        url('../img/collage/cone-mobile.jpg') 0% 100%/calc(100vw/2) no-repeat,
        url('../img/collage/sugar-mobile.jpg') 100% 100%/calc(100vw/2) no-repeat;
    }
}