footer{
    width: 1440px;
    height: 350px;
    padding-top: 145px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #90D4C6 url('../img/footer/logo-blue.svg') 629px 72px/170px no-repeat;
}

#footer-navbar{
    width: 310px;
    height: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

#footer-navbar button{
    color: #458D7E;
}

@media(hover:hover){
    #footer-navbar button:hover{
        color:white;
    }
}

#footer-media{
    width: 164px;
    height: 20px;
    margin-top: 88px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

#facebookBt{
    background-image: url('../img/footer/facebook.svg');
}
#instagramBt{
    background-image: url('../img/footer/instagram.svg');
}
#twitterBt{
    background-image: url('../img/footer/twitter.svg');
}
#pinterestBt{
    background-image: url('../img/footer/pinterest.svg');
}

@media(hover:hover){
    #facebookBt:hover{
        background-image: url('../img/footer/facebook-hover.svg');
    }
    #instagramBt:hover{
        background-image: url('../img/footer/instagram-hover.svg');
    }
    #twitterBt:hover{
        background-image: url('../img/footer/twitter-hover.svg');
    }
    #pinterestBt:hover{
        background-image: url('../img/footer/pinterest-hover.svg');
    }
}

