header {
    width: 1440px;
	height: 800px;
	display: flex;
	flex-direction: column;
    align-items: center;
	background: url('../img/header/icon-arrow-down.svg') 50% 359px/34px 113px no-repeat,
    url('../img/header/headerBg-desktop.jpg') center/1440px no-repeat;
}

#header-navbar-desk {
    width: 1352px;
	height: 56px;
    margin: 34px 0px 0px 40px;
	display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    background: url('../img/header/logo.svg') left/170px no-repeat;
}

#header-navbar-desk > div{
    width: 290px;
    height: 25px;
    margin-right: 42px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

#header-navbar-desk button[class="navegationBt"]{
    color: white;
}

#header-navbar-mobile{
    position: absolute;
    width: 327px;
    height: auto;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;
}

#navbar-mobile-top{
    width: inherit;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    background: url('../img/header/logo.svg') left/124px no-repeat;
}

#burger{
    width: 24px;
    height: 18px;
    background: url('../img/header/icon-hamburger.svg') center/24px no-repeat;
}

#triangle{
    width: 0px;
    height: 0px;
    margin-top: 26px;
    border-left: 24px solid transparent;
    border-bottom: 24px solid white;
    display: none;
}

#navbar-mobile-links{
    width: inherit;
    height: 305px;
    display: flex;
    padding: 39px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    display: none;
}


.navegationBt{
    font:600 18px/25px 'Barlow-SemiBold';
    letter-spacing: -0.13px;
    background-color: transparent;
    border:none;
    transition: opacity 0.3s ease,color 0.3s ease;
}

@media(hover:hover){
    #header-navbar-desk button[class="navegationBt"]:hover{
        opacity: 0.5;
    }
}

#contactBt{
    width: 140px;
    height: 56px;
    border-radius: 28px;
    background-color: rgb(255,255,255);
    color:var(--VeryDarkBlue);
    font: 700 15px/25px 'Fraunces-Bold';
    letter-spacing: 0.11px;
    border: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}

@media(hover:hover){
    #contactBt:hover{
        color:white;
        background-color: rgba(255,255,255,0.25);
    }
}

header h1{
    margin-top: 105px;
    color:white;
    text-align: center;
}

/*##################################### MOBILE VERSION #####################################*/

@media screen and (max-width: 768px) {
    header {
        width: 375px;
        height: 538px;
        background: url('../img/header/icon-arrow-down.svg') 50% 294px/34px 113px no-repeat,
        url('../img/header/headerBg-mobile.jpg') bottom/375px no-repeat;
    }

    #header-navbar-desk {
        display: none;
    }

    header h1{
        margin-top: 144px;
    }

    .navegationBt{
        font:600 20px/25px 'Barlow-SemiBold';
        letter-spacing: -0.14px;
        color: var(--DarkGrayish);
    }
    
    #contactBt{
        background-color: #FBD600;
    }

    @media(hover:hover){
        #contactBt:hover{
            color:var(--VeryDarkBlue);
            background-color: #FBD600;
        }
    }
}
