#main-content {
    width: 1440px;
    height: auto;
}

#main-content > div{
    width: inherit;
    height: 600px;
    display: flex;
    flex-direction: row;
}

#transform{
    justify-content: flex-start;
    background: #FFFCF8 url('../img/main-content/transform-desktop.jpg') right/720px no-repeat;
}

#standOut{
    justify-content: flex-end;
    background: #FFFCF8 url('../img/main-content/stand-out-desktop.jpg') left/720px no-repeat;
}

#transform > div, #standOut > div{
    width: 445px;
    height: 286px;
    margin: 158px 165px 0px 165px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border:solid 1px red;
}

#transform p, #standOut p{
    margin: 32px 0px 0px 0px;
    font: 600px 18px 30px 'Barlow-SemiBold';
    letter-spacing: -0.13px;
    color: var(--DarkGrayish);
    border:solid 1px red;
}

#design-photography {
    padding: 398px 190px 0px;
    justify-content: space-between;
    text-align: center;
    background:
    url('../img/main-content/graphic-design-desktop.jpg') left/720px no-repeat,
    url('../img/main-content/photography-desktop.jpg') right/720px no-repeat
    ;
}

#design-photography > div{
    width: 339px;
    height: 143px;
}

#design-photography h3{
    color:#052C3B;
    opacity:0.75;
}

#design-photography p{
    margin-top: 27px;
    font: 600 16px/27px 'Barlow-SemiBold';
    letter-spacing: -0.11px;
    color:#19536C;
}